[submodule "libraries/AUnit"]
	path = libraries/AUnit
	url = https://github.com/bxparks/AUnit.git
[submodule "libraries/Adafruit_BluefruitLE_nRF51"]
	path = libraries/Adafruit_BluefruitLE_nRF51
	url = git@github.com:BlueDragonX/Adafruit_BluefruitLE_nRF51.git
[submodule "libraries/Aruino_CAN_BUS_MCP2515"]
	path = libraries/Aruino_CAN_BUS_MCP2515
	url = git@github.com:BlueDragonX/Aruino_CAN_BUS_MCP2515.git
[submodule "libraries/Longan_CANFD"]
	path = libraries/Longan_CANFD
	url = git@github.com:BlueDragonX/Longan_CANFD.git
[submodule "libraries/CANBed"]
	path = libraries/CANBed
	url = git@github.com:BlueDragonX/CANBed.git
[submodule "libraries/EpoxyDuino"]
	path = libraries/EpoxyDuino
	url = https://github.com/bxparks/EpoxyDuino.git
[submodule "libraries/ArduinoCaster"]
	path = libraries/ArduinoCaster
	url = git@github.com:BlueDragonX/ArduinoCaster.git
[submodule "libraries/ArduinoFaker"]
	path = libraries/ArduinoFaker
	url = git@github.com:BlueDragonX/ArduinoFaker.git
