[submodule "libraries/AUnit"]
	path = libraries/AUnit
	url = https://github.com/bxparks/AUnit.git
[submodule "libraries/Adafruit_BluefruitLE_nRF51"]
	path = libraries/BluefruitLE
	url = git@github.com:BlueDragonX/Adafruit_BluefruitLE_nRF51.git
[submodule "libraries/Adafruit_BusIO"]
    path = libraries/Adafruit_BusIO
    url = git@github.com:BlueDragonX/Adafruit_BusIO.git
[submodule "libraries/Adafruit_Seesaw"]
    path = libraries/Adafruit_Seesaw
    url = git@github.com:BlueDragonX/Adafruit_Seesaw.git
[submodule "libraries/Aruino_CAN_BUS_MCP2515"]
	path = libraries/Longan_MCP2515
	url = git@github.com:BlueDragonX/Aruino_CAN_BUS_MCP2515.git
[submodule "libraries/Longan_CANFD"]
	path = libraries/Longan_CANFD
	url = git@github.com:BlueDragonX/Longan_CANFD.git
[submodule "libraries/EpoxyDuino"]
	path = libraries/EpoxyDuino
	url = https://github.com/bxparks/EpoxyDuino.git
[submodule "libraries/Foundation"]
	path = libraries/Foundation
	url = git@github.com:BlueDragonX/ArduinoFoundation.git
[submodule "libraries/ArduinoCaster"]
	path = libraries/Caster
	url = git@github.com:BlueDragonX/ArduinoCaster.git
[submodule "libraries/ArduinoFaker"]
	path = libraries/Faker
	url = git@github.com:BlueDragonX/ArduinoFaker.git
[submodule "libraries/AnalogMultiButton"]
	path = libraries/AnalogMultiButton
	url = git@github.com:BlueDragonX/AnalogMultiButton.git
[submodule "libraries/ArduinoCanny"]
	path = libraries/Canny
	url = git@github.com:BlueDragonX/ArduinoCanny.git
[submodule "libraries/ArduinoR51Vehicle"]
	path = libraries/ArduinoR51Vehicle
	url = git@github.com:BlueDragonX/ArduinoR51Vehicle.git
[submodule "libraries/ArduinoR51Test"]
	path = libraries/ArduinoR51Test
	url = git@github.com:BlueDragonX/ArduinoR51Test.git
[submodule "libraries/CRC32"]
	path = libraries/CRC32
	url = git@github.com:BlueDragonX/ArduionoCRC32.git
[submodule "libraries/Adafruit_SleepyDog"]
	path = libraries/Adafruit_SleepyDog
	url = git@github.com:BlueDragonX/Adafruit_SleepyDog.git
